@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@200;500;700&display=swap');

:root {
    --black: #1e1e1f;
    --rougatre: #dc325c;
    --gris-noiratre: #c0c0c0;
    --whitat: #fafafa;
    --fraise: #f2cdd6;
    --prefraise: #de607f;
    --rougsombre: #c41742;
}

body {

    font-family: "Nunito Sans", sans-serif;

}

/* navbar */
.logo {
    width: 200px;
}

header {
    /* position: fixed;
    left: 0;
    top: 0;
    right: 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(white);
    box-shadow: 0 0 10px var(--gris-noiratre);
}

header li {
    list-style: none;
    display: inline-block;

}

header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: var(--black);
}


.form button {
    border-radius: 50px;
    padding: 10px;
    width: 90px;
    font-weight: bold;
    color: var(--whitat);
    background-color: var(--rougsombre);
    margin: 5px;
    border: none;
    cursor: pointer;
}

.form select {
    border: none;
    font-weight: bold;
}

.navbar ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin-left: 50px;
    height: 50px;

}

.navbar li :hover {
    padding: 40px 0;
    border-bottom: 5px solid var(--rougsombre);

}

/* L'ouverture de la fabrique  */
.ouverture {
    background-color: var(--whitat);
    height: 60vh;
}


.ouverture h1 {
    font-size: 40px;
    text-align: center;
    color: var(--rougsombre);
    font-weight: bold;
    margin: 5px;
}

.ouverture div {
    display: flex;
    justify-content: space-between;
}

.ouv1 {
    background-color: var(--rougsombre);
    height: 110px;
    width: 100%;
    border-radius: 0 0 50px;
    box-shadow: 0px 10px var(--prefraise), 0 20px var(--fraise);
    margin-left: 250px;
}

.ouv1 p {
    font-size: 30px;
    color: var(--whitat);
    font-weight: bold;
}

.text {
    background-color: white;
    border: 1px solid var(--prefraise);
    margin-right: 200px;
    height: 30vh;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 350px;
    position: relative;
    height: 400px;
    z-index: 1;
    box-shadow: 0 0 5px;
    border-radius: 8px;
}

.text div {
    align-content: center;
}

.text p {
    align-content: center;
}

.paragraph p {

    font-size: 14px;
}

.paragraph {
    text-align: center;
    position: relative;
}



.paragraph .guillme-haut {
    font-family: sans-serif;
    font-size: 200px;
    height: 100px;
    font-style: normal;
    color: var(--prefraise);
}

.paragraph .guillme-bas {
    font-family: sans-serif;
    font-size: 200px;
    height: 100px;
    font-style: normal;
    color: var(--gris-noiratre);
    text-align: center;
    position: absolute;
    margin: 270px;
}








.backred {
    background-color: var(--rougsombre);
    border: 2px solid var(--rougsombre);
    margin-right: 5px;
    position: absolute;
    width: 350px;
    transform: rotate(4deg);
    height: 400px;
    z-index: 1;
    right: 220px;
    bottom: 430px;
    box-shadow: 0 0 5px;
    border-radius: 8px;
}

.point {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 10px;
    background-color: var(--rougsombre);
    margin: 10px;
}

#point-long {
    margin: 0;
    height: 10px;
    width: 30px;
    background-color: var(--rougsombre);
    margin-top: 10px;
    border-radius: 20px;
    margin: 10px;

}


.ouverture .list-point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

/* 
Notre Pedagogie */
.pedagogie {
    background-color: white;
}

.pedagogie h1 {
    font-size: 40px;
    text-align: center;
    color: var(--rougsombre);
    font-weight: bold;
}

.contener-pedago {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.text-video h4 {
    font-size: 30px;
    font-weight: bold;
    color: var(--rougsombre);
}

/* 
les six pilier */


.pilier {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--whitat);
}


.contener-pilier {
    display: grid;
    grid-template-rows: repeat(3, fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.compt {
    background-color: var(white);
    border-bottom: 4px solid var(--rougsombre);
    box-shadow: 0 0 4px var(--black);
    border-radius: 8px;
}

.compt h1 {
    color: var(--rougsombre);
    font-weight: bold;
    font-size: 30px;
}

.compt h3 {
    color: var(--black);
    font-weight: bold;
    font-size: 20px;
}

.pilier .troisfem {
    margin-right: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 330px;
    position: relative;
    height: 500px;
    z-index: 1;
    box-shadow: 0 0 8px;
    border-radius: 10px;

}

.pilier .back-img {
    position: absolute;
    background-color: var(--rougsombre);
    border: 2px solid var(--rougsombre);
    margin-right: 4px;
    width: 350px;
    margin-bottom: 10px;
    height: 500px;
    z-index: 1;
    right: 350px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
}




/* Nos valeurs */

.valeur h5 {
    font-size: 40px;
    text-align: center;
    color: var(--rougsombre);
    font-weight: bold;
}

.contener-valeur {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 5px;
}

.text-avec-btn h1 {
    color: var(--rougsombre);
}

.text-avec-btn button {
    border-radius: 50px;
    padding: 10px;
    width: 90px;
    font-weight: bold;
    color: var(--whitat);
    background-color: var(--rougsombre);
    margin: 5px;
    border: none;
    cursor: pointer;
}

.respect {
    display: flex;
    flex-direction: column;
    background-color: var(--whitat);
    /* width: 50%; */
    margin: 12px;
}

.numérique {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--prefraise);
    text-align: center;
}

.triangle {
    width: 30px;
    height: 30px;
    background-color: var(--rougsombre);
    clip-path: polygon(100% 0, 100% 100%, 0 50%);

}



/* Nos chiffre */


.style p {
    color: white;
    font-weight: bolder;
}

.style h2 {
    color: white;
    font-size: 30px;
}

/* Nos chiffre */


.chiffre h1 {
    font-size: 40px;
    text-align: center;
    color: var(--rougsombre);
    font-weight: bold;
}

.contener-chiffre {
    display: flex;
    justify-content: space-around;
    background-color: var(--rougsombre);
}

/* 

Nos equipes */
.equipe-text {
    text-align: center;
}

.equipe-text h1 {
    color: var(--rougsombre);
    font-weight: bolder;
    font-size: 40px;
}

.equipe-text p {
    color: var(--black);
    font-weight: bolder;
    font-size: 20px;
}

.contener-equipe {
    display: flex;
    justify-content: space-around;
}


.formateur h4 {
    color: var(--rougsombre);
    font-weight: bold;
}

.formateur {
    background-color: white;
    width: 200px;
    box-shadow: 0 0 4px var(--black);
    border-radius: 8px;
    text-align: center;
}

.formateur .rong {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.formateur i {
    color: var(--rougsombre);
}

/* Recrutement */



.Recrutement h1 {
    font-size: 40px;
    text-align: center;
    color: var(--rougsombre);
    font-weight: bold;
}

.contener-recrutement {
    display: flex;
    justify-content: space-around;
    height: 30vh;

}


.contener-recrutement img {
    width: 500px;
}

.ma-ligne {
    border-bottom: 1px solid var(--rougsombre);
    width: 350px;
}

.ligne-plus-gras {
    border-bottom: 3px solid var(--rougsombre);
    width: 20px;
}

.contener-tout {

    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-bottom: 20px;

}


.loffre {
    background-color: var(--fraise);
    width: 25%;
    border-radius: 15px;
    height: 55vh;

}

.contener-plant {
    display: flex;

}

.Formt {
    display: flex;
    justify-content: space-between;
}


.plant {
    background-color: #fafafa;
    box-shadow: 0 0 5px;
    border-radius: 15px;
    width: 25%;
}

.plant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70px;
}

.plant i {
    color: var(--rougsombre);
}

.loffre button {
    border-radius: 50px;
    padding: 10px;
    width: 90px;
    font-weight: bold;
    color: var(--whitat);
    background-color: var(--rougsombre);
    margin: 5px;
    border: none;
    cursor: pointer;
}

.loffre h4 {
    font-size: 30px;
    color: var(--rougsombre);
    font-weight: bold;
}

.loffre h3 {
    font-size: 20px;
    color: var(--rougsombre);
    font-weight: bold;
}

.loffre h2 {
    font-size: 18px;
    font-weight: 700;
}

.contener-Formt {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}


.contener-Formt-1 {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}


.btn-postuler button {
    margin-left: 150px;
    cursor: pointer;
}


.contener-tout a {
    color: var(--black);
    display: flex;
    justify-content: end;
}





/* 
Nos partenaire */

.partenaire {
    height: 70vh;
}

.partenaire h1 {
    color: var(--rougsombre);
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}



.contener-partenaire {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    align-items: center;

}

.contener-partenaire .img {
    width: 150px;

}


/* 
Avant-footer */
.avant-footter {
    background-color: var(--black);
    height: 30vh;
}

.logoblanc {
    width: 150px;
    color: white;

}

.contener-avant-footer .logo-et-foo {
    width: 10px;
}

.icone #tw:hover {
    color: rgb(34, 158, 235);
    font-size: 30px;
}

.icone #fb:hover {
    color: rgb(62, 62, 243);
    font-size: 30px;

}

.icone #in:hover {
    color: rgb(235, 34, 34);
    font-size: 30px;
}

.icone #yt:hover {
    color: rgb(235, 34, 34);
    font-size: 30px;

}

.logo-et-img img {
    color: white;
}

.contener-avant-footer .txt-1 {
    color: white;
}


.contener-avant-footer .txt-2 {
    color: white;
}


.contener-avant-footer {
    display: flex;
    justify-content: space-around;
}


.my-input {
    color: white;
}


.my-input input {
    width: 70%;
    height: 35px;
    border-radius: 8px;
    background-color: white;
}

.my-input button {
    width: 25%;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: var(--rougsombre);
    cursor: pointer;
}

.mon input {
    width: 350px;
    height: 45px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
    border-color: white;

}

.formular textarea {
    width: 710px;
    height: 200px;
    border-radius: 10px;
    border-color: var(--gris-noiratre);

}

.Joindre i {
    color: var(--rougsombre);
}

.joindre {
    color: var(--rougsombre);
    align-content: end;
}


.Joindre span {
    color: var(--rougsombre);
}

.mon.Joindre {
    position: absolute;
    right: 0;
}

.contener-Formt i {
    color: var(--rougsombre);
}

.contener-Formt-1 i {
    color: var(--rougsombre);
}

.formular {
    background-color: white;
    height: 50vh;
}

.formular button {
    border-radius: 50px;
    padding: 10px;
    width: 90px;
    font-weight: bold;
    color: var(--whitat);
    background-color: var(--rougsombre);
    margin: 5px;
    border: none;
    cursor: pointer;

}


/* Footer */



footer {
    display: flex;
    background-color: var(--rougsombre);
    height: 50px;
    justify-content: space-between;
}


.copyright {
    display: flex;
    color: var(--whitat);
    font-weight: bold;
}

.simplon {
    display: flex;
    color: white;
}

.simplon #sim {
    color: var(white);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.simplon span {
    color: black;
}